<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ex01</title>
    <!--  jQuery CDN  -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
    <button onclick="ex02Fn()">ex02 함수 호출!</button>
</body>
<script>
    // ↑위 버튼 클릭시 아래↓ 함수 호출.
    const ex02Fn = () => {
        $.ajax({
            // 요청 방식 : post
            // 요청 주소 : /ex01
            type: "post",
            url: "/ex02",
            // ↓ 요청이 성공했을 때 실행 되는 부분.
            success: function (res) {
                console.log("성공!", res)
                // window.location = "/";
            },
            // ↓ 요청이 실패했을 때 실행되는 부분.
            error: function () {
                console.log("실패!")
            }
        })
    }
</script>
</html>