<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ex08</title>
    <!--  jQuery CDN  -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
    <button onclick="ex10Fn()">ex10 함수 호출!</button>
</body>
<script>
    // ↑위 버튼 클릭시 아래↓ 함수 호출.
    const ex10Fn = () => {
        const val1 = "Hello SpringBoot!";

        const params = {
            "param1": val1,
            "param2": "parameter"
        };
        $.ajax({
            // 요청 방식 : post
            // 요청 주소 : /ex10
            type: "post",
            url: "/ex10",
            // ↓ 위에서 만든 객체 사용. (JSON 형태로 요청 보냄.)
            data: JSON.stringify(params),
            contentType: "application/json",
            // ↓ 요청이 성공했을 때 실행 되는 부분.
            success: function (res) {
                console.log("성공!", res)
                // 컨트롤러에서 return 하는 dtoList의 0번 인덱스.
                console.log(res[0]);
                // 컨트롤러에서 return 하는 dtoList의 1번 인덱스의 param1값.
                console.log(res[1].param1);
                // 반복문으로 List에 접근해서 출력.
                for (let i in res) {
                    console.log("i: ", i);
                    console.log(res[i]);
                }
                // window.location = "/";
            },
            // ↓ 요청이 실패했을 때 실행되는 부분.
            error: function () {
                console.log("실패!")
            }
        })
    }
</script>
</html>